body {
  margin: 0;
  user-select: none;
}
img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#start {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-area: 1/1;
  background-color: green;
  z-index: 5;
  text-align: center;
  color: white;
}

#start_text {
  position: relative;
  top: 15%;
  color: white;
}

#btn_start {
  width: 30%;
  height: 10%;
  background-color: yellowgreen;
  position: absolute;
  left: 35%;
  top: 55%;
}
#game_background {
  grid-area: 1 / 1;
  background-image: url(images/farmhouse.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
#game-elements {
  grid-area: 1/1;
}

#enemycarrot1_container {
  width: 10%;
  position: absolute;
  left: 40%;
  top: 60%;
}
#enemycarrot2_container {
  width: 10%;
  position: absolute;
  left: 40%;
  top: 40%;
}
#enemycarrot3_container {
  width: 10%;
  position: absolute;
  left: 40%;
  top: 20%;
}

#goodcarrot2_container {
  width: 7%;
  position: absolute;
  left: 60%;
  top: 40%;
}
#goodcarrot3_container {
  width: 7%;
  position: absolute;
  left: 60%;
  top: 20%;
}
#goodcarrot4_container {
  width: 7%;
  position: absolute;
  left: 60%;
  top: 60%;
}
#goodcarrot1_container {
  width: 7%;
  position: absolute;
  left: 60%;
  top: 60%;
}
#score_board {
  width: 10%;
  position: absolute;
  left: 0%;
  top: 0%;
}
.hidden,
#game_over.hidden,
#game_complete.hidden,
#game.hidden,
#start.hidden {
  display: none;
}

#game_over {
  grid-area: 1 /1;
  z-index: 6;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #c90303 0%, #790909 100%);
  color: #ffffff;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
}

#game_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  color: #ffffff;
}

#number {
  position: absolute;
  left: 43%;
  top: 30%;
  font-size: 2vw;
}
#life_board {
  width: 20%;
  position: absolute;
  right: 0vw;
  top: 0vw;
  grid-template-columns: 6.5vw 6.5vw 6.5vw;
  display: grid;
}

.blurHeart {
  filter: grayscale(75%) blur(0.5px);
}

#time_board {
  position: relative;
}

#time_container {
  position: relative;
  width: 15%;
  aspect-ratio: 30/6;
  border: 2px solid black;
  background-color: rgba(208, 204, 204, 0.383);
  top: -1670%;
  left: 63%;
}

#time_sprite {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: limegreen;
  transform-origin: right;
}

.shrink {
  animation-name: shrink_kf;
  animation-duration: 23s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrink_kf {
  0% {
    scale: 1 1;
    background-color: limegreen;
  }
  50% {
    background-color: rgb(255, 230, 0);
  }
  100% {
    scale: 0 1;
    background-color: red;
  }
}
